@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces', sans-serif;
}

.header{
    width: 100vw;
    height: 100vh;
    max-height: 659px;
}
.book_a_demo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 150px;
    height: 40px;
    border: none;
    background-color: cornflowerblue;
    font-size: 1rem;
    cursor: pointer;
}
.navbar_wrap{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 1230px;
    max-height: 75px;
    margin: 0 auto;
    padding: 20px 0;
}
.navigate_links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu_item{
    margin-right: 40px;
    position: relative;
}
.menu_item:last-child{
    margin-right: 0;
}
.sign_in a{
    text-decoration: none;
    margin-right: 40px;
}
.sign_in{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#logo{
    margin-right: 40px;
    width: 106px;
    height: 37px;
}
.header_block{
    height: 525px;
    width: 321px;
    margin:201.28px 760px 136.72px 105px;
    word-spacing: 5px;
    font-size: 19px;
}
.buttons{
    margin-top: 12px;
    display: flex;
    flex-flow: row nowrap;
}
img{
    height: 452px;
    width: 422px;
}

.wrapper {
    max-width: 1130px;
}

/*.menu_item--active::before{
    content: "";
    height: 4px;
    background-color: #11749e;
    width: 100%;
    position: absolute;
    bottom: -10px;
зачем active? и что это такое
}
